<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="userService" class="com.ruge.spring5.aspectj.UserServiceImpl"></bean>
    <bean id="userService_bug" class="com.ruge.spring5.aspectj.bug.BugUserServiceImpl"></bean>

    <bean id="aspectj" class="com.ruge.spring5.aspectj.MyAspectj"></bean>
    <bean id="aspectj_bug" class="com.ruge.spring5.aspectj.bug.MyBugAspectj"></bean>
    <!--开启基于注解的aop编程-->
    <!--
    proxy-target-class="false" 默认 jdk动态代理
    proxy-target-class="true"      cglib动态代理
    -->
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
</beans>